# 讀入CSV 遇到第一個問題(編碼格式ANSI 一開始無法正常讀取)
## 編碼格式透過使用記事本打開csv，在右下角看到編碼格式。

## 解決方法為 在pd.read(里面加入encoding='ANSI')

In [4]:
import pandas as pd

df = pd.read_csv('task data.csv', encoding='ANSI')

print(df)

      學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量    學校小計
0    中山幼兒園             19              15      34
1     景興國中              1              36      37
2    大安幼兒園             27              14      41
3     二玉國小             16              56      72
4    文山幼兒園             68              14      82
..     ...            ...             ...     ...
237   五常國中           1633              45    1678
238   大安國小           1584             159    1743
239   和平高中           1858             158    2016
240   內湖高中           1858             498    2356
241     總計         106702           34569  141271

[242 rows x 4 columns]

# 1.哪一間學校擁有最少設備 (遇到問題 千位分隔符逗號)

In [15]:
 df.sort_values(by='學校小計')

      學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量    學校小計
0    中山幼兒園             19              15      34
1     景興國中              1              36      37
2    大安幼兒園             27              14      41
3     二玉國小             16              56      72
4    文山幼兒園             68              14      82
..     ...            ...             ...     ...
237   五常國中           1633              45    1678
238   大安國小           1584             159    1743
239   和平高中           1858             158    2016
240   內湖高中           1858             498    2356
241     總計         106702           34569  141271

[242 rows x 4 columns]

# 2.請找出資料表裡面為高中的資料

## 透過str.contains()的語法，查找特定資料

In [21]:
result = df[df['學校名稱'].str.contains('高中')]
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
8    成淵高中             15             118   133
32   中崙高中             15             234   249
73   中正高中            292              43   335
84   大理高中            275             100   375
91   陽明高中            124             277   401
99   成功高中            114             314   428
119  南港高中            223             250   473
123  西松高中            236             246   482
133  育成高中             19             500   519
144  華江高中            271             277   548
153  大直高中            302             290   592
155  萬芳高中            333             262   595
162  明倫高中            480             130   610
176  永春高中            519             132   651
197  松山高中            561             225   786
199  建國高中            237             558   795
207  大同高中            433             507   940
212  復興高中            808             208  1016
228  百齡高中            902             495  1397
232  麗山高中           1163             335  1498
235  南湖高中           1127             443  1570
239  和平高中           1858             158  2016
240  內湖高中           1858             498  2356

# 3.哪間高中擁有的設備最多

## 要定義出兩個變數 1.查找特定資料的變數 2.排序資料的變數

In [22]:
select = df[df['學校名稱'].str.contains('高中')]
result=select.sort_values(by='學校小計', ascending=False)
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
240  內湖高中           1858             498  2356
239  和平高中           1858             158  2016
235  南湖高中           1127             443  1570
232  麗山高中           1163             335  1498
228  百齡高中            902             495  1397
212  復興高中            808             208  1016
207  大同高中            433             507   940
199  建國高中            237             558   795
197  松山高中            561             225   786
176  永春高中            519             132   651
162  明倫高中            480             130   610
155  萬芳高中            333             262   595
153  大直高中            302             290   592
144  華江高中            271             277   548
133  育成高中             19             500   519
123  西松高中            236             246   482
119  南港高中            223             250   473
99   成功高中            114             314   428
91   陽明高中            124             277   401
84   大理高中            275             100   375
73   中正高中            292              43   335
32   中崙高中             15             234   249
8    成淵高中             15             118   133

# 4.擁有最多設備的高中 是否最新設備也是最多