# 讀入CSV 遇到第一個問題(編碼格式ANSI 一開始無法正常讀取)
## 編碼格式透過使用記事本打開csv，在右下角看到編碼格式。

## 解決方法為 在pd.read(里面加入encoding='ANSI')

In [4]:
import pandas as pd

df = pd.read_csv('task data.csv', encoding='ANSI')

print(df)

      學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量    學校小計
0    中山幼兒園             19              15      34
1     景興國中              1              36      37
2    大安幼兒園             27              14      41
3     二玉國小             16              56      72
4    文山幼兒園             68              14      82
..     ...            ...             ...     ...
237   五常國中           1633              45    1678
238   大安國小           1584             159    1743
239   和平高中           1858             158    2016
240   內湖高中           1858             498    2356
241     總計         106702           34569  141271

[242 rows x 4 columns]

# 1.哪一間學校擁有最少設備 (遇到問題 千位分隔符逗號)

In [15]:
 df.sort_values(by='學校小計')

      學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量    學校小計
0    中山幼兒園             19              15      34
1     景興國中              1              36      37
2    大安幼兒園             27              14      41
3     二玉國小             16              56      72
4    文山幼兒園             68              14      82
..     ...            ...             ...     ...
237   五常國中           1633              45    1678
238   大安國小           1584             159    1743
239   和平高中           1858             158    2016
240   內湖高中           1858             498    2356
241     總計         106702           34569  141271

[242 rows x 4 columns]

# 2.請找出資料表裡面為高中的資料

## 透過str.contains()的語法，查找特定資料

In [21]:
result = df[df['學校名稱'].str.contains('高中')]
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
8    成淵高中             15             118   133
32   中崙高中             15             234   249
73   中正高中            292              43   335
84   大理高中            275             100   375
91   陽明高中            124             277   401
99   成功高中            114             314   428
119  南港高中            223             250   473
123  西松高中            236             246   482
133  育成高中             19             500   519
144  華江高中            271             277   548
153  大直高中            302             290   592
155  萬芳高中            333             262   595
162  明倫高中            480             130   610
176  永春高中            519             132   651
197  松山高中            561             225   786
199  建國高中            237             558   795
207  大同高中            433             507   940
212  復興高中            808             208  1016
228  百齡高中            902             495  1397
232  麗山高中           1163             335  1498
235  南湖高中           1127             443  1570
239  和平高中           1858             158  2016
240  內湖高中           1858             498  2356

# 3.哪間高中擁有的設備最多

## 要定義出兩個變數 1.查找特定資料的變數 2.排序資料的變數

In [22]:
select = df[df['學校名稱'].str.contains('高中')]
result=select.sort_values(by='學校小計', ascending=False)
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
240  內湖高中           1858             498  2356
239  和平高中           1858             158  2016
235  南湖高中           1127             443  1570
232  麗山高中           1163             335  1498
228  百齡高中            902             495  1397
212  復興高中            808             208  1016
207  大同高中            433             507   940
199  建國高中            237             558   795
197  松山高中            561             225   786
176  永春高中            519             132   651
162  明倫高中            480             130   610
155  萬芳高中            333             262   595
153  大直高中            302             290   592
144  華江高中            271             277   548
133  育成高中             19             500   519
123  西松高中            236             246   482
119  南港高中            223             250   473
99   成功高中            114             314   428
91   陽明高中            124             277   401
84   大理高中            275             100   375
73   中正高中            292              43   335
32   中崙高中             15             234   249
8    成淵高中             15             118   133

# 4.擁有最多設備的高中 是否最新設備也是最多

## ascending 需要定義每一個排序的資料

In [24]:
select = df[df['學校名稱'].str.contains('高中')]
result=select.sort_values(by=['學校小計','5年內桌機筆電平板設備數量'], ascending=[False,False])
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
240  內湖高中           1858             498  2356
239  和平高中           1858             158  2016
235  南湖高中           1127             443  1570
232  麗山高中           1163             335  1498
228  百齡高中            902             495  1397
212  復興高中            808             208  1016
207  大同高中            433             507   940
199  建國高中            237             558   795
197  松山高中            561             225   786
176  永春高中            519             132   651
162  明倫高中            480             130   610
155  萬芳高中            333             262   595
153  大直高中            302             290   592
144  華江高中            271             277   548
133  育成高中             19             500   519
123  西松高中            236             246   482
119  南港高中            223             250   473
99   成功高中            114             314   428
91   陽明高中            124             277   401
84   大理高中            275             100   375
73   中正高中            292              43   335
32   中崙高中             15             234   249
8    成淵高中             15             118   133

# 5. 哪些高中 新設備大於舊設備的
## 使用> 等比較符號 進行比較

In [26]:
select = df[df['學校名稱'].str.contains('高中')]
result=select[select['5年內桌機筆電平板設備數量'] > select['5年以上桌機筆電平板設備數量']]
print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
73   中正高中            292              43   335
84   大理高中            275             100   375
153  大直高中            302             290   592
155  萬芳高中            333             262   595
162  明倫高中            480             130   610
176  永春高中            519             132   651
197  松山高中            561             225   786
212  復興高中            808             208  1016
228  百齡高中            902             495  1397
232  麗山高中           1163             335  1498
235  南湖高中           1127             443  1570
239  和平高中           1858             158  2016
240  內湖高中           1858             498  2356

# 6.哪間高中、國中、幼兒園 擁有設備最多

## 先查找資料，使用max 找出最大資料 使用df.loc 列印出整列資料

In [33]:
select1 = df[df['學校名稱'].str.contains('高中')]
select2 = df[df['學校名稱'].str.contains('國中')]
select3 = df[df['學校名稱'].str.contains('幼兒園')]
max1 =select1['學校小計'].max()
max2 =select2['學校小計'].max()
max3 =select3['學校小計'].max()
pr1=df.loc[df['學校小計'] ==max1]
pr2=df.loc[df['學校小計'] ==max2]
pr3=df.loc[df['學校小計'] ==max3]
print(pr1)
print(pr2)
print(pr3)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
240  內湖高中           1858             498  2356
     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
237  五常國中           1633              45  1678
        學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
236  南海實驗幼兒園           1585              42  1627

# 7.哪間高中、國中、幼兒園 擁有5年內設備最多

## 使用index1 代表5年內桌機筆電平板設備數量 在使用max() 或是df.loc等語法時 因為index1是變數不能有['']

In [36]:
index1='5年內桌機筆電平板設備數量'
select1 = df[df['學校名稱'].str.contains('高中')]
select2 = df[df['學校名稱'].str.contains('國中')]
select3 = df[df['學校名稱'].str.contains('幼兒園')]
max1 =select1[index1].max()
max2 =select2[index1].max()
max3 =select3[index1].max()
pr1=df.loc[df[index1] ==max1]
pr2=df.loc[df[index1] ==max2]
pr3=df.loc[df[index1] ==max3]
print(pr1)
print(pr2)
print(pr3)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
239  和平高中           1858             158  2016
240  內湖高中           1858             498  2356
     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
237  五常國中           1633              45  1678
        學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
236  南海實驗幼兒園           1585              42  1627

# 8.哪些學校擁有的設備超過1000台

In [39]:
sort= df.sort_values(by='學校小計')

result=sort[sort['學校小計'] > 1000]
print(result)

        學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量    學校小計
212     復興高中            808             208    1016
213     永建國小            955              70    1025
214     市大附小            776             276    1052
215     大安高工            279             794    1073
216     雨聲國小              1              16    1073
217     景興國小            915             165    1080
218     信義國小            894             207    1101
219     博愛國小           1080              62    1142
220     大安國中           1044             124    1168
221     民權國中           1204              47    1251
222     明德國小           1193              60    1253
223    jh投國小           1183              76    1259
224     義方國小           1131             140    1271
225     民生國中           1111             165    1276
226     明道國小           1198              93    1291
227     松山工農            410             889    1299
228     百齡高中            902             495    1397
229    一 興國小           1308             123    1431
230     明湖國小           1164             271    1435
231     國語實小           1358             138    1496
232     麗山高中           1163             335    1498
233     兩農國小           1504              34    1538
234     士林高商           1124             439    1563
235     南湖高中           1127             443    1570
236  南海實驗幼兒園           1585              42    1627
237     五常國中           1633              45    1678
238     大安國小           1584             159    1743
239     和平高中           1858             158    2016
240     內湖高中           1858             498    2356
241       總計         106702           34569  141271

# 9.承上題 有哪些學校是舊設備大於新設備

In [40]:
sort= df.sort_values(by='學校小計')

select=sort[sort['學校小計'] > 1000]
result=select[select['5年以上桌機筆電平板設備數量'] > select['5年內桌機筆電平板設備數量']]

print(result)

     學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
215  大安高工            279             794  1073
216  雨聲國小              1              16  1073
227  松山工農            410             889  1299

# 10.在小於1000台的學校中，有哪些是舊設備大於新設備

## 使用.shape[0] 來計算輸出幾筆資料

In [44]:
sort= df.sort_values(by='學校小計')

select=sort[sort['學校小計'] < 1000]
result=select[select['5年以上桌機筆電平板設備數量'] > select['5年內桌機筆電平板設備數量']]
count = result.shape[0]
print(result)
print('共輸出了',count,'筆資料')

         學校名稱  5年內桌機筆電平板設備數量  5年以上桌機筆電平板設備數量  學校小計
1        景興國中              1              36    37
3        二玉國小             16              56    72
5        芝山國小             26              60    86
6        長春國小             13              84    97
7        明湖國中             16             115   131
8        成淵高中             15             118   133
10       萬芳國小             16             121   137
12       長安國中             41             125   166
13       景美國小             81              89   170
17       西湖園中             88             102   190
24       力行國小             22             187   209
32       中崙高中             15             234   249
42       新興國中             93             184   277
47       社子國小            140             141   281
87       東湖國小            173             214   387
88       內湖高工             17             371   388
91       陽明高中            124             277   401
99       成功高中            114             314   428
109  臺北特殊教育學校            177             271   448
119      南港高中            223             250   473
123      西松高中            236             246   482
132      龍門園中            241             271   512
133      育成高中             19             500   519
134      石牌國中            258             266   524
138      石牌國小            198             340   538
141      成德國中            251             291   542
144      華江高中            271             277   548
145      明德國中            249             313   562
169      南鬥園中            205             287   619
199      建國高中            237             558   795
202      南港高工            149             693   842
204      木柵高工            353             517   870
206      景美女高            286             641   927
207      大同高中            433             507   940
共輸出了 34 筆資料